.menu-superior a :hover {
    background: darkkhaki;
    cursor: pointer;
}

.botao {
    cursor: pointer;
    margin: 3% 0;
    padding: 1% 4%;
    border-radius: 15px;
    font-size: 1.1em;
    letter-spacing: 0.1em;
    font-weight: bold;
    background: rgb(226, 81, 81);
    transition: 1s;
}

.botao:hover {
    background: darkkhaki;
    border-radius: 20px;
    transition: 1s;
}