.cabecalho {
    background: rgb(89, 71, 87);
    height: auto;
}

.titulo-cabecalho {
    font-size: 1.5em;
    text-align: center;
    margin-left: 5%;
    line-height: 1.5em;
}

.menu-superior li {
    padding: 3% 0%;
    margin: 0 3%;
    border: 3px blanchedalmond outset;
    background-color: whitesmoke;
    border-radius: 100%;
    text-align: center;
    transition: 0.5s;
}

.menu-superior a {
    text-decoration: none;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 135%;
    color: black;
    width: 20%;
}