.conteiner {
    width: 85%;
    margin: 0 auto;
}

.cabecalho .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-superior ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

