.adicionar-item {
    width: 940px;
    margin: 0 auto;
    text-align: center;
}

.formulario-adicionar {
    padding: 3% 0;
}

.texto-form {
    margin: 2% 0;
    font-size: 1.5rem;
}

.campo-formulario {
    display:block;
    margin: 1% auto 3% auto;
    width: 40%;
    padding: 1%;
    text-align: center;
    font-size: 1rem;
}

.notas {
    display: flex;
    justify-content: center;
}

.nota {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1%;
}