.logo-cabecalho {
    width: 175px;
}

.icone-nav {
    width: 15%;
    margin-right: 5%;
    vertical-align: middle;
    padding: 1%;
    transition-delay: 1s;
    transition-timing-function: ease-in;
}