.listaFilmesUsuario {
    text-align: center;
    align-content: center;
}

.listaFilmesUsuario table {
    width: 100%;
}

.listaFilmesUsuario th {
    border: black solid 2px;
    padding: 1% 0.5%;
}

.listaFilmesUsuario td {
    border: black solid 2px;
    padding: 1% 0.5%;
    width: fit-content;
    
}


