.rodape {
    background: rgb(89, 71, 87);
    position: fixed;;
    bottom: 0;
    width: 100%;
    height: auto;
}

.copyright {
    text-align: center;
    padding: 0.5% 0;
    flex-grow: 2;
}


.rodape-nav {
    text-decoration: none;
    color: whitesmoke;
    transition: 0.5s;
}

.rodape-nav:hover {
    color: darkkhaki;
}

/* FlexBox */

.rodape .conteiner {
    display: flex; 
    justify-content: space-around;
    align-items: center;
}

.rodape .conteiner nav {
    flex-grow: 2;
    display: flex;
    justify-content: space-around;
}