.rodape {
    background: rgb(89, 71, 87);
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 5%;
}

.rodape-nav {
    text-decoration: none;
    color: whitesmoke;
    width: fit-content;
}

/* FlexBox */

.rodape .conteiner {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    margin-top: 0.5%;
}